{% extends 'core/base.html'%}
{% load static %}

	{% block content %}
	<div class="text-center container alert alert-success">
		<h2 class="text-info">Login Page </h2>
		
	</div>
	<div class="col-sm-12  jumbo py-3">
		
		<form method="POST">
			{% csrf_token %}
			<h5 class="text-warning">{{fm.as_p}}</h5>
			<div class="text-center">
				<input type="submit" name="" value="login" class="btn btn-success">	
			<a href="{% url 'reset_password'%}" class="btn btn-info">Forget Password</a>
			</div>
			</form>
			
		
	</div>
	
	
			
			{% endblock %}